<div class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Managed Services</h1>
      </div>
      <div class="col-lg-12">
        <h3>Services & Applications</h3>
          <div class="col-lg-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
      </div>
      <div class="col-lg-12">
        <h3>Hardware</h3>
        <br />
          <div class="col-lg-4">
            <a href="http://www.acer.co.za" class="thumbnail">
              <%=image_tag("brands/acer.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("brands/apple.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="http://www.asus.com/za/" class="thumbnail">
              <%=image_tag("brands/asus.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="http://www.dell.co.za/" class="thumbnail">
              <%=image_tag("brands/dell.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="http://www.gigabyte.co.za/" class="thumbnail">
              <%=image_tag("brands/gigabyte.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="http://www.kensington.com/" class="thumbnail">
              <%=image_tag("brands/hp.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="http://www.lenovo.com" class="thumbnail">
              <%=image_tag("brands/lenovo.jpg")%>
            </a>
          </div>
        </div>
        <div class="col-lg-12">
          <h3>Software</h3>
          <br />
            <div class="col-lg-4">
              <a href="http://www.mcafee.com/" class="thumbnail">
                <%=image_tag("brands/mcafee.jpg")%>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="http://www.microsoft.com/" class="thumbnail">
                <%=image_tag("brands/ms.jpg")%>
              </a>
            </div>
        </div>
        <div class="col-lg-12">
          <h3>Security</h3>
          <br />
            <div class="col-xs-3">
              <a href="http://www.symantec.com/en/za/" class="thumbnail">
                <%=image_tag("brands/SYMANTEC.jpg")%>
              </a>
            </div>
          <div class="col-xs-3">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
        </div>
        <div class="col-lg-12">
          <h3>Backup</h3>
          <br />
          <div class="col-lg-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
        </div>
        <div class="col-lg-12">
          <h3>Networking</h3>
          <br />
          <div class="col-lg-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
          <div class="col-lg-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>