<div class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Managed Services</h1>
          <h2>Gentrons Approach</h2>
          <br />
          <div class="col-lg-6">
            <%=image_tag("ServiceApproach.png")%>
          </div>
          <div class="col-lg-6 approach-list">
            <ol>
              <li class="h2">Assess</li>
              <p>Detailed analysis of your current environment, reporting on issues and actionable items.</p>
              <li class="h2">On-board</li>
              <p>Initial maintenance activities, projects, and remediation required to stabilize your technology.</p>
              <li class="h2">Manage</li> 
              <p>Ongoing delivery of monitoring & maintenance designed to keep your business optimized.</p>
              <li class="h2">Protect</li>
              <p>Application of industry best practices for security & backup management.</p>
              <li class="h2">Optimize</li> 
              <p>Enterprise class technology and staff to keep your infrastructure optimized.  Critical issues are identified, reported, and resolved in real time.</p>
            </ol>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="home-section-grey">
<div class="container">
  <div class="row">
      <div class="col-lg-12">
      <br /><br />
        <h2>Our Services</h2>
        <p>Flexible solutions to meet your needs</p>
        <div class="col-lg-6">
          <i class="fa fa-sitemap fa-4x"></i>
          <br />
          <strong>Essential IT Support</strong>
          <p>Our team of field engineers and NOC support group are available to assist with all your day to day IT support or project requirements.</p>
          <br /><br />
          <i class="fa fa-cogs fa-4x"></i>
          <br />
          <strong>à la carte</strong>
          <p>Individual IT services that target a specific need, allowing you to select only the services you require.</p>
        </div>
        <div class="col-lg-6">
          <i class="fa fa-bullseye fa-4x"></i>
          <br />
          <strong>Proactive</strong>
          <p>Management plan designed to support key IT systems.  Delivers value through operational reliability and preventing issues.</p>
          <br /><br />
          <i class="fa fa-briefcase fa-4x"></i>
          <br />
          <strong>Managed</strong>
          <p>Fully outsourced solutions, designed to fulfill an organizations entire IT requirements.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-section">
  <div class="container">
    <div class="row">
      <br />
      <h1>Services & Applications</h1>
      <div class="col-lg-12">
        <h3 class="sub-heading">Hardware</h3>
        <br />
          <div class="col-lg-1 mservices">
            <a href="http://www.acer.co.za" class="thumbnail">
              <%=image_tag("brands/acer.jpg")%>
            </a>
          </div>
          <div class="col-lg-1 mservices">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("brands/apple.jpg")%>
            </a>
          </div>
          <div class="col-lg-1 mservices">
            <a href="http://www.asus.com/za/" class="thumbnail">
              <%=image_tag("brands/asus.jpg")%>
            </a>
          </div>
          <div class="col-lg-1 mservices">
            <a href="http://www.dell.co.za/" class="thumbnail">
              <%=image_tag("brands/dell.jpg")%>
            </a>
          </div>
          <div class="col-lg-1 mservices">
            <a href="http://www.gigabyte.co.za/" class="thumbnail">
              <%=image_tag("brands/gigabyte.jpg")%>
            </a>
          </div>
          <div class="col-lg-1 mservices">
            <a href="http://www.kensington.com/" class="thumbnail">
              <%=image_tag("brands/hp.jpg")%>
            </a>
          </div>
          <div class="col-lg-1 mservices">
            <a href="http://www.lenovo.com" class="thumbnail">
              <%=image_tag("brands/lenovo.jpg")%>
            </a>
          </div>
        </div>
        <div class="col-lg-12">
          <h3 class="sub-heading">Software</h3>
          <br />
            <div class="col-lg-1 mservices">
              <a href="http://www.microsoft.com/" class="thumbnail">
                <%=image_tag("brands/ms.jpg")%>
              </a>
            </div>
        </div>
        <div class="col-lg-12">
          <h3 class="sub-heading">Security</h3>
          <br />
            <div class="col-lg-1 mservices">
              <a href="http://www.mcafee.com/" class="thumbnail">
                <%=image_tag("brands/mcafee.jpg")%>
              </a>
            </div>
            <div class="col-lg-1 mservices">
              <a href="http://www.symantec.com/en/za/" class="thumbnail">
                <%=image_tag("brands/SYMANTEC.jpg")%>
              </a>
            </div>
        </div>
        <div class="col-lg-12">
          <h3 class="sub-heading">Backup</h3>
          <br />
          <div class="col-lg-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
        </div>
        <div class="col-lg-12">
          <h3 class="sub-heading">Networking</h3>
          <br />
          <div class="col-lg-1">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("brands/cisco.jpg")%>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>