<style type="text/css">
  .home-section-grey {
  background-color: whitesmoke;
  text-align: center;
  padding-bottom: 6em;
  padding-top: 0;
}
</style>

<div id="about">  
<div class="home-section">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">About Us</h1>
          <span>
            Gentron is a leading IT company based in Centurion and serving clients nationwide. The business was founded in 1992 after Ernest Skinner, a Lecturer at Wits University, noticed the absence of quality technology suppliers with personalised service in the Education and SME sectors. As time went on, Gentron moved into supplying workable solutions and managed services, including infrastructure solutions, professional support, strategic consulting, cloud computing and orientation training. 
            <br /><br />
            With over 21 years’ experience, Gentron has come to understand the specific needs of their clients are and what solutions will meet those needs. As their focus is on the happiness and satisfaction of their clients, all their services are geared towards making their lives, and the way they work ,easier for them. Gentron doesn't simply want to supply their clients with technology and managed services, but for all intents and purposes become business partners and build long lasting relationships with them. This drives them to go further and not only match client expectations, but exceed them.
            <br /><br />
            Gentron is still a supplier of hardware and carries market-leading brands such as Acer, Asus, Mecer, Gigabyte, Microsoft, Sony, Samsung and Apple. All technology comes with an on-site warranty at no additional cost, contributing to a full ICT solutions package.
          </span>       
        </div>
    </div>
  </div>  
</div>
<div class="home-section-grey">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">       
          <h2 class="page-header">
            Company Profile
            <script type="IN/CompanyProfile" data-id="2553010" data-format="hover" data-related="false"></script>
          </h2>
          <span>
          Gentron was founded in 1992 as a technology supply company, but soon grew to become one of the leading suppliers of IT support services in South Africa. We provide a whole host of services to our clients, all contributing to a full IT package, including professional support, strategic consulting and cloud computing.  
          <br /><br />
          On the technology side, we provide a long list of brands, including Acer, Asus, Mecer, Gigabyte, Sony, Samsung and Apple, along with software to provide a complete IT solution that meet the needs of our clients. Our hardware comes with an on-site warranty at no additional cost.
          <br /><br />
          We don’t simply want to be service providers, but want our clients to see us as business partners helping to make their lives easier. Consider us your outsourced IT department.
          <br/><br/>
          <h4>VISION</h4>
          To become the preferred supplier of IT services and technology in South Africa and build on our reputation for always being accessible and reliable.
          <br/><br/>
          <h4>MISSION</h4>
          To provide innovative solutions that exceed client expectations and not to be a drop-off-and-go company, but build long-term relationships with clients. We are always available and virtual, meaning we can be reached for assistance over any internet enabled device from anywhere in the country.
          <br/><br/>
          <h4>Values</h4>          
            Open |
            Humility |
            Ethical |
            Integrity |
            Innovative |
            Reliable |
            High-performance |
          </span> 
          <br /><br />
          <%=link_to "Meet the Team",team_path ,class: 'btn btn-lg btn-primary',"data-no-turbolink" => true %>
        </div>
    </div>
  </div>  
</div>

<div class="home-section">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Testimonials</h1>
          <span>
            With over 21 years’ experience, Gentron has built up a wealth of knowledge as an IT support company and hardware supplier. We don’t simply want to be service providers for our clients, but rather become something similar to business partners through long-term relationships and excellent service. See what some of our clients have had to say about us! 
            <br /><hr><br />
            <b>“Gentron will always go the extra mile, even though we are not a big corporate company. They really try to accommodate our limited financial budget.”</b><br>
            – Financial Manager for a leading private Afrikaans high school
            <br><br>
            <b>“Gentron is your one stop IT shop, from hardware, software, knowledge and skills. I would definitely recommend them.”</b><br>
            – Manager of the IT department of a private school for girls
            <br><br>
            <b>“Gentron’s service is great and reliable and their technicians are friendly. We have had no hassles and I would gladly recommend them.”</b><br>
            – ICT Director for a collection of schools in Lyme Park, Sandton
            <br><hr>
          </span>       
        </div>
    </div>
  </div>  
</div>

<div class="home-section-alt" data-type="background" data-speed="10">
  <div class="container">
    <h1 style="color:white">Associations</h1>
        <div class="row">
        <div class="col-lg-4"><a href="http://www.isasa.org/"><%=image_tag("isasa.jpg", class: "brand-logo")%></a></div>
        <div class="col-lg-4"><a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx"><%=image_tag("Microsoft-Partner1.jpg", class: "brand-logo")%></a></div>
        <div class="col-lg-4"><a href="https://www.adobe.com/cfusion/partnerportal/index.cfm"><%=image_tag("adobe.jpg", class: "brand-logo")%></div>
        </div>

      <div class="row">
      <div class="col-lg-4"><a href="http://www.isasa.org/"><%=image_tag("ms_partner_silver_server.jpg", class: "brand-logo")%></a></div>
      <div class="col-lg-4"><a href="https://www.adobe.com/cfusion/partnerportal/index.cfm"><%=image_tag("ms_aer2.jpg", class: "brand-logo")%></a></div>
      <div class="col-lg-4"><a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx"><%=image_tag("ms_small_business_specialist.jpg",class: "brand-logo")%></a></div>
      </div>    
      <div class="row">
        <div class="col-lg-4"><a href="http://www.isasa.org/"><%=image_tag("mweb.jpg", class: "brand-logo")%></a></div>
        <div class="col-lg-4"><a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx"><%=image_tag("mime.jpg", class: "brand-logo")%></a></div>
        <div class="col-lg-4 "><a href="https://www.adobe.com/cfusion/partnerportal/index.cfm"><%=image_tag("eoh.jpg", class: "brand-logo")%></a></div>        
      </div>
  </div>
</div>
</div>


