<div class="container">
    <br /><br /><br /><br />
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">About Us</h1>
        <span>
          Gentron was founded in 1992 and has since become one of South Africa’s leading providers of hardware, software and managed services as IT outsourcing has grown in popularity. Our business originally only supplied hardware, though market trends and demand have made us decide to broaden our offering to include much more - a choice we have never regretted!
          <br /><br />
          Consider us your in-house IT department, outsourced. We’re serious about building long-term, mutually beneficial relationships with clients. When you decide to work with us, you become part of the Gentron family! We don’t want to meet your expectations, we want to exceed them. We work harder and go further to make sure your IT needs are taken care of.
          <br /><br />
          We bring a whole host of brands, services and software to the party. Our service offering includes everything from installing infrastructure to providing training so you and your staff know how everything works. You don’t need to go anywhere else for your IT solutions.
        </span>
        <br /><br />
        <h3>Company Profile</h3>
        <span>
        Gentron is a leading IT company based in Centurion and serving clients nationwide. The business was founded in 1992 after Ernest Skinner, a Lecturer at Wits University, noticed the absence of quality technology suppliers with personalised service in the Education and SME sectors. As time went on, Gentron moved into supplying workable solutions and managed services, including infrastructure solutions, professional support, strategic consulting, cloud computing and orientation training. 
        <br /><br />
        With over 21 years’ experience, Gentron has come to understand the specific needs of their clients are and what solutions will meet those needs. As their focus is on the happiness and satisfaction of their clients, all their services are geared towards making their lives, and the way they work ,easier for them. Gentron doesn't simply want to supply their clients with technology and managed services, but for all intents and purposes become business partners and build long lasting relationships with them. This drives them to go further and not only match client expectations, but exceed them.
        <br /><br />
        Gentron is still a supplier of hardware and carries market-leading brands such as Acer, Asus, Mecer, Gigabyte, Microsoft, Sony, Samsung and Apple. All technology comes with an on-site warranty at no additional cost, contributing to a full ICT solutions package.
        </span>
        <h3>B-BBEE Certificate</h3>
        <center><a href="../docs/Gentron_BBBEE.pdf" target="_blank"><%=image_tag("Gentron_BBBEE.jpg")%></a></center>
        <br />
        <center><a href="../docs/Gentron_BBBEE.pdf" class="btn btn-primary" target="_blank">View our B-BBEE Certificate</a></center>
        <h3>Terms and Condition of Sales</h3>
          <center><a href="../docs/Terms and Conditions.pdf" class="btn btn-primary" target="_blank">Click here to download Gentron's Terms and Conditions</a></center> 
        <h3>Associations</h3>
          <div class="row">
            <div class="col-lg-4"><a href="http://www.isasa.org/"><%=image_tag("isasa.jpg", width: "100%")%></a></div>
            <div class="col-lg-4"><a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx"><%=image_tag("Microsoft-Partner1.jpg", width: "100%")%></a></div>
            <div class="col-lg-4"><a href="https://www.adobe.com/cfusion/partnerportal/index.cfm"><%=image_tag("adobe.jpg", width: "100%")%></div>
          </div>
          <div class="row">
            <div class="col-lg-4"><a href="http://www.isasa.org/"><%=image_tag("ms_partner_silver_server.jpg", width: "100%")%></a></div>
            <div class="col-lg-4"><a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx"><%=image_tag("ms_small_business_specialist.jpg", width: "100%")%></a></div>
            <div class="col-lg-4"><a href="https://www.adobe.com/cfusion/partnerportal/index.cfm"><%=image_tag("ms_aer2.jpg", width: "100%")%></a></div>
          </div>
          <div class="row">
            <div class="col-lg-4"><a href="http://www.isasa.org/"><%=image_tag("mweb.jpg", width: "100%")%></a></div>
            <div class="col-lg-4"><a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx"><%=image_tag("mime.jpg", width: "100%")%></a></div>
            <div class="col-lg-4"><a href="https://www.adobe.com/cfusion/partnerportal/index.cfm"><%=image_tag("eoh.jpg", width: "100%")%></a></div>
          </div>
      </div>
    </div>
  </div>