<h1 class="page-header">
  Listing articles
  <%=link_to new_article_path, class: "btn btn-success" do%>
   <span class="fa fa-plus"></span>
  New
  <%end%>
</h1>

<%@articles.each do |a|%>
  <div class="row">
    <%=image_tag(a.image(:medium), class: "col-md-10 col-md-offset-1")%>
    <div class="col-md-12">
      <h2>
        <%=a.title.capitalize%>
        <%=link_to edit_article_path(a), class: "btn btn-sm btn-default" do %>
          <span class="fa fa-pencil"></span>
          Edit
        <%end%>
        <%= link_to a, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" do%>
        <span class="fa fa-trash"></span>
        Destroy
        <%end%>
        
      </h2>
      <p><%= raw(a.body)%></p>
      <%if a.link.present?%>
      <%=link_to a.link_display_text, a.link%>
      <%end%>
      <%if a.reference.present?%>
      <p><b>Reference</b></p>
      <%=link_to a.reference.to_s, a.reference%>
      <%end%>      
    </div>

  </div>
<%end%>
