<div>
    <h2>
    	<%=@article.title.capitalize%> 
    	<%if current_user.present?%>
		<%= link_to  edit_article_path(@article), class: "btn btn-md btn-default" do%>
		<i class="fa fa-pencil"></i>
		Edit
		<%end%>
		 |
		<%end%>
    </h2>    
    <%=image_tag(@article.image, class: "article-image")%>
	<%= @article.body.html_safe%>
	<%= link_to 'Back', :back, class: "btn btn-lg btn-success" %>
</div>
<br>

  


