<h1 class="page-header">Admin Page</h1>

<%= link_to "Manage Users", user_index_path %><br>
<%= link_to "Customer feedback stories", feedbacks_path%><br>
<%= link_to "Customer feedback report", reports_feedback_path, "data-no-turbolink" => true%><br>
<%=link_to "Manage Products", products_staff_path%><br>
<%=link_to "Log Out", logout_path%>