<div class="home-section">
  <div class="container">
    <div class="row">
      <h1>Brands and Software</h1><br>
      <span>Gentron started out in 1992 as a technology reseller that offers personalised service and, though we have grown to provide so much more, we still stay true to our roots by supplying our clients with IT hardware from market-leading brands at very competitive prices. We're not just a drop-off-and-go operation though, as we aim to build long lasting relationships with our clients and continually make sure their needs are met. Every piece of hardware bought from us is backed by an on-site warranty at no extra cost to you. </span><br>
      <div class="row">
        <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/acer.jpg", width: "100%")%></a></div>
        <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/apple.jpg", width: "100%")%></a></div>
        <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/asus.jpg", width: "100%")%></a></div>
        <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/dell.jpg", width: "100%")%></a></div>
        <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/gigabyte.jpg", width: "100%")%></a></div>
        <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/hp.jpg", width: "100%")%></a></div>
      </div>
      <div class="row">
          <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/kensington.jpg", width: "100%")%></a></div>
          <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/lenovo.jpg", width: "100%")%></a></div>
          <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/mcafee.jpg", width: "100%" )%></a></div>
          <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/ms.jpg", width: "100%" )%></a></div>
          <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/samsung.jpg", width: "100%" )%></a></div>
          <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/sony.jpg", width: "100%")%></a></div>
      </div>
      <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-2"></div>
          <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/mecer.jpg", width: "100%")%></a></div>
          <div class="col-lg-2"><a href="http://www.isasa.org/"><%=image_tag("brands/SYMANTEC.jpg", width: "100%")%></a></div>
          <div class="col-lg-2"></div>
          <div class="col-lg-2"></div>
      </div>
    </div>
  </div>  
</div>         