<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%=link_to root_path, class:"navbar-brand page-scroll" do%>
            <i class="fa fa-home"></i>
            <%end%>
            
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>         
                    <%=link_to "Home", root_path%>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Offerings</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
<!--                 <li>
                  <a class="page-scroll" href="#education">Education</a>
                </li> -->
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.facebook.com/GentronGroup" class="page-scroll">News</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Gentron!</div>
            <div class="intro-heading">Your trusted IT Solution Provider</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

<%if @specials.count >=1%>
<%= render 'special/specials', specials: @specials%>
<%end%>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">IT Services</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">
                    <%=link_to "Managed Services", services_path%>
                </h4>
                <p class="text-muted">
                    Is all this technology too much to manage? Gentron can manage your ICT services with a Service
                    Level Agreement. Contact us today to discuss your requirements and let us handle seamlessly handle 
                    your IT department. Leaving you connected and in control.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">
                    <%=link_to "Product Offerings", products_path%>
                </h4>
                <p class="text-muted">
                    Gentron offers a comprehensive range of hardware and software products, as well as guidance in 
                    order to assist you in determining which components best meet your requirements.  The aim is to 
                    add value to your purchase, as the selling proposition is not just on price, but also on matching client 
                    needs with purchase options.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">                  
                    <%=link_to "Consulting Services"%>
                </h4>
                <p class="text-muted">
                    As a company which requires Gentron as an IT Outsource Company, you will quickly realize the
                    benefits of trusting us with all your IT needs as we provide strategic consulting services, high level IT support and IT consulting services which can be utilized on an ongoing or ad-hoc basis.

                </p>
            </div>
        </div>
    </div>
</section>

<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
                <p>
                  Gentron was founded in 1992 as a technology supply company, but soon grew to become one of the leading suppliers of IT support services in South Africa. We provide a whole host of services to our clients, all contributing to a full IT package, including professional support, strategic consulting and cloud computing.  
                  <br><br>
                  On the technology side, we provide a long list of brands, including Acer, Asus, Mecer, Gigabyte, Sony, Samsung and Apple, along with software to provide a complete IT solution that meet the needs of our clients. Our hardware comes with an on-site warranty at no additional cost.
                  <br><br>
                  We don’t simply want to be service providers, but want our clients to see us as business partners helping to make their lives easier. Consider us your outsourced IT department.
                  <br><br>
                  <h4 class="section-subheading text-muted">VISION</h4>
                  To become the preferred supplier of IT services and technology in South Africa and build on our reputation for always being accessible and reliable.
                  <br><br>
                  <h4 class="section-subheading text-muted">MISSION</h4>
                  To provide innovative solutions that exceed client expectations and not to be a drop-off-and-go company, but build long-term relationships with clients. We are always available and virtual, meaning we can be reached for assistance over any internet enabled device from anywhere in the country.
                  <br><br>
                  <h4 class="section-subheading text-muted">Values</h4>          
                  Open |
                  Humility |
                  Ethical |
                  Integrity |
                  Innovative |
                  Reliable |
                  High-performance |
              </p>      
              <br>            
              <%= link_to "Tell Me More", company_path, class: "page-scroll btn btn-xl"%>
          </div>
      </div>

  </div>
</section>
<!-- <section id="education">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Education Solutions</h2>
                <h3 class="section-subheading text-muted">Coming soon...</h3>
                
          </div>
      </div>

  </div>
</section> -->
