<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:100%; height: 600px">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" style="border-color: #000"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="" style="border-color: #000"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="" style="border-color: #000"></li>
      </ol>
      <div class="carousel-inner" role="listbox" style="width:100%; height:600px">
        <div class="item active">
          <%=image_tag("keyboard.jpg", class: "first-slide", width: "100%" , height: "auto", alt: "first-slide")%>
          <div class="container">
            <div class="container">
              <div class="carousel-caption">
                <h1 style="font-weight: bold">Welcome.<br />To the New Gentron Site!</h1>
                <p></p>
                <p><%=link_to "New Solutions", solutions_index_path, class: "gtbn btn-lg btn-primary", role: "button"%></p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <%=image_tag("support.jpg", class: "second-slide",  width: "100%" , height: "auto", alt: "second-slide")%>
          <div class="container">
            <div class="container">
              <div class="carousel-caption">
                <h1 style="font-weight: bold">Professional Support.<br />View our professional support solutions</h1>
                <p></p>
                <p><%=link_to "Professional Support Solutions", solutions_index_path, class: "btn btn-lg btn-success", role: "button"%></p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <%=image_tag("itcloud.jpg", class: "third-slide",  width: "100%" , height: "auto", alt: "Third-slide")%>
          <div class="container">
            <div class="container">
              <div class="carousel-caption">
                <h1 style="font-weight: bold">Cloud Computing.<br />Pamjola Cloud Solution</h1>
                <p></p>
                <p><%=link_to "View Our cloud solutions", solutions_index_path, class: "btn btn-lg btn-warning", role: "button"%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


	    	<div class="col-lg-12">
	    		<%=link_to solutions_index_path do%>
            <div class="panel panel-default" style="float: left; margin-left:0.3%; width: 24.7%">
  				    <div class="panel-body-a">
  				      <%=image_tag("nav/infra.jpg")%>
                <br /><br />
                <div class="panel-footer-a"><center>Infrastructure Solutions</center></div>
                <br />
  				    </div>
				    </div>
          	<%end%> 
          <%=link_to solutions_index_path do%>
            <div class="panel panel-default" style="float: left; margin-left:0.3%; width: 24.7%">
              <div class="panel-body-a">
                <%=image_tag("nav/support.jpg", width: "100%")%>
                <br /><br />
                <div class="panel-footer-a"><center>Professional Support</center></div>
                <br />
              </div>
            </div>
            <%end%>
          <%=link_to solutions_index_path do%>
            <div class="panel panel-default" style="float: left; margin-left:0.3%; width: 24.7%">
              <div class="panel-body-a">
                <%=image_tag("nav/cloud.jpg", width: "100%")%>
                <br /><br />
                <div class="panel-footer-a"><center>Cloud Computing</center></div>
                <br />
              </div>
            </div>
          <%end%>
          <%=link_to solutions_index_path do%>
            <div class="panel panel-default" style="float: left; margin-left:0.3%; width: 24.7%">
              <div class="panel-body-a">
                <%=image_tag("nav/consulting.jpg", width: "100%")%>
                <br /><br />
                <div class="panel-footer-a"><center>Strategic Consulting</center></div>
                <br />
              </div>
            </div>
          <%end%>       
        </div>
        <div class="col-lg-12">
          <%=link_to solutions_index_path do%>
            <div class="panel panel-default" style="float: left; margin-left:0.3%; width: 24.7%">
              <div class="panel-body-a">
                <%=image_tag("nav/training.jpg", width: "100%")%>
                <br /><br />
                <div class="panel-footer-a"><center>Orientation Training</center></div>
                <br />
              </div>
            </div>
          <%end%>  
          <%=link_to solutions_index_path do%>
            <div class="panel panel-default" style="float: left; margin-left:0.3%; width: 24.7%">
              <div class="panel-body-a">
                <%=image_tag("nav/brands.jpg", width: "100%")%>
                <br /><br />
                <div class="panel-footer-a"><center>Brands and Software</center></div>
                <br />
              </div>
            </div>
          <%end%>
          <%=link_to solutions_index_path do%>
            <div class="panel panel-default" style="float: left; margin-left:0.3%; width: 24.7%">
              <div class="panel-body-a">
                <%=image_tag("nav/Pamoja.png", width: "100%")%>
                <br /><br />
                <div class="panel-footer-a"><center>Pamoja Cloud</center></div>
                <br />
              </div>
            </div>
          <%end%>
          <%=link_to solutions_index_path do%>
            <div class="panel panel-default" style="float: left; margin-left:0.3%; width: 24.7%">
              <div class="panel-body-a">
                <%=image_tag("nav/modern.png", width: "100%")%>
                <br /><br />
                <div class="panel-footer-a"><center>Get Modern</center></div>
                <br />
              </div>
            </div> 
          <%end%>       
        </div>

	</div>  	
</div> 