<script src="../js/solnav.js"></script>
<a href="#" class="back-to-top">Back to Top</a>
<div class="home-section" id="home">
	<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:100%; height: 600px">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" style="border-color: #000"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="" style="border-color: #000"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="" style="border-color: #000"></li>
        <li data-target="#myCarousel" data-slide-to="3" class="" style="border-color: #000"></li>
        <li data-target="#myCarousel" data-slide-to="4" class="" style="border-color: #000"></li>
        <li data-target="#myCarousel" data-slide-to="5" class="" style="border-color: #000"></li>
        <li data-target="#myCarousel" data-slide-to="6" class="" style="border-color: #000"></li>
      </ol>
      <div class="carousel-inner" role="listbox" style="width:100%; height:600px">

        <div class="item active">
          <%=image_tag("default.jpg", class: "first-slide", width: "100%" , height: "auto", alt: "first-slide")%>
          <div class="container">
            <div class="container">
              <div class="carousel-caption">
                <h1 style="font-weight: bold">Welcome.<br />To the New Gentron Site!</h1>
              </div>
            </div>
          </div>
        </div>
        <!-- solutions-->
        <div class="item">
          <%=image_tag("it_image.jpg", width: "100%", height: "auto", class: "second-slide", alt: "second-slide")%>
          <div class="container">
            <div class="container">
              <div class="carousel-caption">
                <h1 style="font-weight: bold"> Solutions </h1>
                <p>
                Our clients are of utmost importance to us and we go above and beyond to make sure we provide them with the best services possible, and we will do the same for you. We don't just sell the technology, we determine what your needs are and provide you with workable solutions that will make your business or educational institution work more efficiently. 
		        </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Infra solutions-->
        <div class="item">
          <%=image_tag("infrustructure.jpg", width: "100%", height: "auto", class: "second-slide", alt: "second-slide")%>
          <div class="container">
            <div class="container">
              <div class="carousel-caption">
                <h1 style="font-weight: bold"> Infrastructure Solutions </h1>
                <p>
                Today’s working environment has become so digital that having ICT solutions in place is vital. Our process for putting infrastructure in place is meant to find the most cost-effective solution that will meet your needs. We start by doing a site survey and having a strategic discussion with you on where you see your business in 2-5 years. We then go on to analyse your data, security programmes and firewalls to ensure solutions that work efficiently and securely.  
		        </p>
              </div>
            </div>
          </div>
        </div>
        <!-- support solutions-->
        <div class="item">
          <%=image_tag("support.jpg", width: "100%", height: "auto", class: "second-slide", alt: "second-slide")%>
          <div class="container">
            <div class="container">
              <div class="carousel-caption">
                <h1 style="font-weight: bold"> Professional Support </h1>
                <p>
                Consider us your IT department, outsourced. Gentron provides a host of support services to our clients . We are here to help you whenever you experience an IT problem and we can even have a person assisting you on-site. This is to ensure that your systems run smoothly and your work can go on without interruption. We'll make sure you have a dedicated technician who knows your environment and what your needs are. We can even have someone working with you on-site.
		        </p>
              </div>
            </div>
          </div>
        </div>
        <!-- strategic consulting solutions-->
        <div class="item">
          <%=image_tag("consulting.jpg", width: "100%", height: "auto", class: "second-slide", alt: "second-slide")%>
          <div class="container">
            <div class="container">
              <div class="carousel-caption">
                <h1 style="font-weight: bold"> Strategic consulting </h1>
                <p>
                Putting technology in place that works for you now, but won't be practical in the future, is not a good idea. You need solutions with consideration to your goals. In our strategic consultations, we discuss the goals of your organisation and set out a plan of future purchases to ensure that your IT aligns with it. 
		        </p>
              </div>
            </div>
          </div>
        </div>
        <!--  cloud solutions-->
        <div class="item">
          <%=image_tag("itcloud.jpg", width: "100%", height: "auto", class: "second-slide", alt: "second-slide")%>
          <div class="container">
            <div class="container">
              <div class="carousel-caption">
                <h1 style="font-weight: bold"> Cloud Computing </h1>
                <p>
                Cloud computing has become somewhat of a buzzword in the IT industry and there is a lot of hype surrounding it. Not only does it add value to your business, it also makes your life much simpler as you can access your data wherever you are. Gentron is able to provide you with cloud computing that is secure, reliable and can be accessed from anywhere.
		        </p>
              </div>
            </div>
          </div>
        </div>
        <!-- training  solutions-->
        <div class="item">
          <%=image_tag("training.jpg", width: "100%", height: "auto", class: "second-slide", alt: "second-slide")%>
          <div class="container">
            <div class="container">
              <div class="carousel-caption">
                <h1 style="font-weight: bold; color: black;"> Orientation Training </h1>
                <p>
                Gentron offers in-depth on-site training in Microsoft productivity packages and Apple software so you can function in today’s digital world. We are confident in saying that we not only do this better than our competitors, but at a fraction of the cost as well. Training can either take place in on-site workshops or we can arrange a one-on-one session with you.
		        </p>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
</div>
