<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to "Gentron", root_path, class:"navbar-brand page-scroll"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>          
          <%=link_to "Home", root_path%>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#testimonials">Testimonials</a>
        </li>
        <li>
          <a class="page-scroll" href="#team">Team</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Our</div>
      <div class="intro-heading">Managed Services</div>
      <a href="#ourServices" class="page-scroll btn btn-xl">More</a>
    </div>
  </div>
</header>


<section id="ourServices" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Services</h2>
        <h3 class="section-subheading text-muted">Flexible solutions to meet your needs</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Essential IT Support</h4>
        <p class="text-muted">Our team of field engineers and NOC support group are available to assist with all your day to day IT support or project requirements.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">à la carte</h4>
        <p class="text-muted">Individual IT services that target a specific need, allowing you to select only the services you require.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Proactive</h4>
        <p class="text-muted">Management plan designed to support key IT systems.  Delivers value through operational reliability and preventing issues.</p>
      </div>
      <div class="col-md-3">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Managed</h4>
        <p class="text-muted">Fully outsourced solutions, designed to fulfill an organizations entire IT requirements.</p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Services</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <h3 class="section-heading text-muted">Hardware</h3>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#" class="portfolio-link">
          <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Startup Framework</h4>
          <p class="text-muted">Website Design</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Treehouse</h4>
          <p class="text-muted">Website Design</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/golden.png" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Golden</h4>
          <p class="text-muted">Website Design</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/escape.png" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Escape</h4>
          <p class="text-muted">Website Design</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Dreams</h4>
          <p class="text-muted">Website Design</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services and Applications Section -->
<section id="servicesAndApps">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">Hardware</h3>
        <br />
        <div class="col-lg-1 mservices">
          <a href="http://www.acer.co.za" class="thumbnail">
            <%=image_tag("brands/acer.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
            <%=image_tag("brands/apple.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.asus.com/za/" class="thumbnail">
            <%=image_tag("brands/asus.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.dell.co.za/" class="thumbnail">
            <%=image_tag("brands/dell.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.gigabyte.co.za/" class="thumbnail">
            <%=image_tag("brands/gigabyte.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.kensington.com/" class="thumbnail">
            <%=image_tag("brands/hp.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.lenovo.com" class="thumbnail">
            <%=image_tag("brands/lenovo.jpg")%>
          </a>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">Software</h3>
        <br />
        <div class="col-lg-1 mservices">
          <a href="http://www.adobe.com/" class="thumbnail">
            <%=image_tag("adobe.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.corel.com/en-eu/" class="thumbnail">
            <%=image_tag("corel.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.microsoft.com/" class="thumbnail">
            <%=image_tag("brands/ms.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.symantec.com/index.jsp" class="thumbnail">
            <%=image_tag("brands/SYMANTEC.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.vmware.com/za" class="thumbnail">
            <%=image_tag("vmware.png")%>
          </a>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">Security</h3>
        <br />
        <div class="col-lg-1 mservices">
          <a href="http://www.eset.com/za" class="thumbnail">
            <%=image_tag("eset.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.mcafee.com/" class="thumbnail">
            <%=image_tag("brands/mcafee.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.mimecast.com" class="thumbnail">
            <%=image_tag("mime.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.symantec.com/en/za/" class="thumbnail">
            <%=image_tag("brands/SYMANTEC.jpg")%>
          </a>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">Backup</h3>
        <br />
        <div class="col-lg-1 mservices">
          <a href="https://attix5.com" class="thumbnail">
            <%=image_tag("attix.png")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="https://www.symantec.com/products/data-backup-software/" class="thumbnail">
            <%=image_tag("backup-exec.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.cipherwave.co.za" class="thumbnail">
            <%=image_tag("cipherwave.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
            <%=image_tag("Microsoft-Partner1.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.veeam.com/" class="thumbnail">
            <%=image_tag("veeam.png")%>
          </a>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">Networking</h3>
        <br />
        <div class="col-lg-1 mservices">
          <a href="http://www.cisco.com" class="thumbnail">
            <%=image_tag("brands/cisco.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.sonicwall.com" class="thumbnail">
            <%=image_tag("dell-sonic.png")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.fortinet.com/products/fortigate/" class="thumbnail">
            <%=image_tag("fortigate.png")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.hp.com" class="thumbnail">
            <%=image_tag("brands/hp.jpg")%>
          </a>
        </div>
        <div class="col-lg-1 mservices">
          <a href="http://www.netgear.com" class="thumbnail">
            <%=image_tag("netgear.png")%>
          </a>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">Education</h3>
        <br />
        <div class="col-lg-1 mservices">
          <a href="http://www.cisco.com" class="thumbnail">
            <%=image_tag("brands/MEP.png")%>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Approach Section -->
<section id="approach" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Approach</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-3x text-primary"></i>
                <i class="fa fa-search fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Asses</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Detailed analysis of your current environment, reporting on issues and actionable items.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-3x text-primary"></i>
                <i class="fa  fa-anchor fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">On-board</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Initial maintenance activities, projects, and remediation required to stabilize your technology.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-3x text-primary"></i>
                <i class="fa fa-hand-o-right fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Manage</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Ongoing delivery of monitoring & maintenance designed to keep your business optimized.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-3x text-primary"></i>
                <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Protect</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Application of industry best practices for security & backup management.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-3x text-primary"></i>
                <i class="fa  fa-fighter-jet fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Optimize</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Enterprise class technology and staff to keep your infrastructure optimized.  Critical issues are identified, reported, and resolved in real time.</p>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>

