<h1>New Feedback Story</h1>

<p>Good day</p><br>

<p>You have received new customer feedback</p>

<p>Company name: <%=@feedback.company_name%></p><br/>

<p>Industry: <%=@feedback.industry%></p><br/>

<p>Work description: <%=@feedback.work_description%></p><br/>

<p>Feedback description: <%=@feedback.feedback_description%></p><br/>

<p>Feedback rating: <%=@feedback.rating%></p><br/>
