<%= simple_form_for(@feedback) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :company_name %>
    <%= f.input :industry %>
    <%= f.input :work_description %>
    <%= f.input :feedback_description %>
    <%= f.input :rating, collection: 1..10, as: :radio_buttons, label_html: {class: "radio-inline"}, item_wrapper_class: "radio-inline" , hint: "(1-Very Poor, 10-Excellent)"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back', feedbacks_path, class: "btn btn-link"%>
  </div>
<% end %>
<br>
