<div class="home-section-alt" data-type="background" data-speed="10">
  <div class="container">
    <h1 style="color:white"><b>Associations</b></h1>
      <div class="col-lg-offset-1">
        <div class="row">
          <div class="col-xs-4">
            <a href="http://www.isasa.org/" class="thumbnail">
              <%=image_tag("isasa.jpg")%>
            </a>
          </div>
          <div class="col-xs-4">
            <a href="https://mspartner.microsoft.com/en/us/Pages/index.aspx" class="thumbnail">
              <%=image_tag("Microsoft-Partner1.jpg")%>
            </a>
          </div>
          <div class="col-xs-4">
            <a href="https://www.adobe.com/cfusion/partnerportal/index.cfm" class="thumbnail">
              <%=image_tag("adobe.jpg")%>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <a href="https://mspartner.microsoft.com/en/uk/pages/membership/competencies.aspx" class="thumbnail">
              <%=image_tag("ms_partner_silver_server.jpg")%>
            </a>
          </div>
          <div class="col-xs-4">
            <a href="https://aer.microsoft.com/" class="thumbnail">
              <%=image_tag("ms_aer2.jpg")%>
            </a>
          </div>
          <div class="col-xs-4">
            <a href="https://mspartner.microsoft.com/en/us/pages/membership/small-business-competency.aspx" class="thumbnail">
              <%=image_tag("ms_small_business_specialist.jpg")%>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <a href="http://www.mwebbusiness.co.za/" class="thumbnail">
              <%=image_tag("mweb.jpg")%>
            </a>
          </div>
          <div class="col-xs-4">
            <a href="http://www.mimecast.co.za" class="thumbnail">
              <%=image_tag("mime.jpg")%>
            </a>
          </div>
          <div class="col-xs-4">
            <a href="http://www.eoh.co.za" class="thumbnail">
              <%=image_tag("eoh.jpg")%>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>