<link rel="stylesheet" href="../css/solnav.css" />
<script src="../js/solnav.js"></script>

  <div class="container">
    <br /><br /><br /><br /><br />
     <div id="sse1">
          <div id="sses1">
            <ul>
              <li><a class="searchbychar" href="#" data-target="A"><%=image_tag("nav/infra.jpg", width: "80")%><br /><br />Infrastructure Solutions</a></li>
              <li><a class="searchbychar" href="#" data-target="B"><%=image_tag("nav/support.jpg", width: "80")%><br /><br />Professional Support</a></li>
              <li><a a class="searchbychar" href="#" data-target="C"><%=image_tag("nav/consulting.jpg", width: "80")%><br /><br />Strategic Consulting</a></li>
              <li><a a class="searchbychar" href="#" data-target="D"><%=image_tag("nav/cloud.jpg", width: "80")%><br /><br />Cloud Computing</a></li>
              <li><a a class="searchbychar" href="#" data-target="E"><%=image_tag("nav/training.jpg", width: "80")%><br /><br />Orientation Training</a></li>
              <li><a class="searchbychar" href="#" data-target="F"><%=image_tag("nav/brands.png", width: "80")%><br /><br />Brands and Software</a></li>
              <li><a a class="searchbychar" href="#" data-target="G"><%=image_tag("nav/modern.png", width: "80")%><br /><br />Get Modern</a></li>
              <li><a a class="searchbychar" href="#" data-target="H"><%=image_tag("nav/Pamoja.png", width: "80")%><br /><br />Pamoja Cloud</a></li>
            </ul>
          </div>
        </div>
    <a href="#" class="back-to-top">Back to Top</a>
  </div>
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <br />
        <div style="padding-bottom:295px; padding-top:95px">
          <h1 class="page-header">Solutions</h1>
          <br />
          <span>
          Gentron has over 21 years of experience in the ICT industry. Ernest Skinner started the business in 1992 when he recognised the need for technology resellers that offer personalised service, instead of just being a drop-and-go supplier. We provide a complete range of solutions to meet our clients’ needs, including managed IT services, hardware and software. Over the years, we have come to know which solutions work and which ones don’t, what businesses and educational institutions need to function, and what’s unnecessary for them to have.
          <br /><br />
          Our clients are of utmost importance to us and we go above and beyond to make sure we provide them with the best services possible, and we will do the same for you. We don't just sell the technology, we determine what your needs are and provide you with workable solutions that will make your business or educational institution work more efficiently.</span>
          </span>
        </div>
      </div>
    </div>
  </div>
<!------------------------------------- SECTION -------------------------------------------------------------------------------->

<!------------------------------------- SECTION ---------------------------------------------------------------------------->
  <div style="background-color: whitesmoke; padding-bottom:100px; padding-top:100px" id="A">
    <div class="container">
      <div class="row">
          <h3 style="text-align: center">Infrastructure Solutions</h3>
          <br /><br />
            <div class="row">
              <div class="col-lg-2"><img src="../img/nav/infra.jpg" style="width: 100%"/></div>
              <div class="col-lg-10">
                <span>Today’s working environment has become so digital that having ICT solutions in place is vital. Our process for putting infrastructure in place is meant to find the most cost-effective solution that will meet your needs. We start by doing a site survey and having a strategic discussion with you on where you see your business in 2-5 years. We then go on to analyse your data, security programmes and firewalls to ensure solutions that work efficiently and securely. </span>
              </div>
            </div>
          </div>
    </div>
  </div>
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->

  <!------------------------------------- SECTION ---------------------------------------------------------------------------->
        <div style="background-color: white; padding-bottom:100px; padding-top:100px" id="B">
          <div class="container">
            <div class="row">
              <h3 style="text-align: center">Professional Support</h3>
              <br /><br />
                <div class="row">
                  <div class="col-lg-2"><img src="../img/nav/support.jpg" style="width: 100%"/></div>
                  <div class="col-lg-10">
                    <span>Today’s working environment has become so digital that having ICT solutions in place is vital. Our process for putting infrastructure in place is meant to find the most cost-effective solution that will meet your needs. We start by doing a site survey and having a strategic discussion with you on where you see your business in 2-5 years. We then go on to analyse your data, security programmes and firewalls to ensure solutions that work efficiently and securely. </span>
                  </div>
                </div>
            </div>
          </div>
        </div>
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->
  
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->      
        <div style="background-color: whitesmoke; padding-bottom:100px; padding-top:100px" id="C">
          <div class="container">
            <div class="row">
              <h3 style="text-align: center">Strategic Consulting</h3>
              <br /><br />
                <div class="row">
                  <div class="col-lg-2"><img src="../img/nav/consulting.jpg" style="width: 100%"/></div>
                  <div class="col-lg-10">
                    <span>Today’s working environment has become so digital that having ICT solutions in place is vital. Our process for putting infrastructure in place is meant to find the most cost-effective solution that will meet your needs. We start by doing a site survey and having a strategic discussion with you on where you see your business in 2-5 years. We then go on to analyse your data, security programmes and firewalls to ensure solutions that work efficiently and securely. </span>
                  </div>
                </div>
            </div>
          </div>
        </div>
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->      
  
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->      
        <div style="background-color: white; padding-bottom:100px; padding-top:100px" id="D">
          <div class="container">
            <div class="row">
              <h3 style="text-align: center">Cloud Computing</h3>
              <br />
              <div class="row">
                <div class="col-lg-2"><img src="../img/nav/cloud.jpg" style="width: 100%"/></div>
                <div class="col-lg-10">
                  <span>Today’s working environment has become so digital that having ICT solutions in place is vital. Our process for putting infrastructure in place is meant to find the most cost-effective solution that will meet your needs. We start by doing a site survey and having a strategic discussion with you on where you see your business in 2-5 years. We then go on to analyse your data, security programmes and firewalls to ensure solutions that work efficiently and securely. </span>
                </div>
              </div>
            </div>
          </div>
        </div>
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->              
        <div style="background-color: whitesmoke; padding-bottom:100px; padding-top:100px" id="E">
          <div class="container">
            <div class="row">
              <h3 style="text-align: center">Orientation Training</h3>
              <br />
              <div class="row">
                <div class="col-lg-2"><img src="../img/nav/training.jpg" style="width: 100%"/></div>
                <div class="col-lg-10">
                  <span>Today’s working environment has become so digital that having ICT solutions in place is vital. Our process for putting infrastructure in place is meant to find the most cost-effective solution that will meet your needs. We start by doing a site survey and having a strategic discussion with you on where you see your business in 2-5 years. We then go on to analyse your data, security programmes and firewalls to ensure solutions that work efficiently and securely. </span>
                </div>
              </div>
            </div>
          </div>
        </div>
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->      

  <!------------------------------------- SECTION ---------------------------------------------------------------------------->      
        <div style="background-color: white; padding-bottom:100px; padding-top:100px" id="E">
          <div class="container">
            <div class="row">
              <h3 style="text-align: center" id="F">Brands and Software</h3>
              <span>Gentron started out in 1992 as a technology reseller that offers personalised service and, though we have grown to provide so much more, we still stay true to our roots by supplying our clients with IT hardware from market-leading brands at very competitive prices. We're not just a drop-off-and-go operation though, as we aim to build long lasting relationships with our clients and continually make sure their needs are met. Every piece of hardware bought from us is backed by an on-site warranty at no extra cost to you. </span>
              <div class="row">
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/acer.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/apple.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/asus.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/dell.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/gigabyte.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/hp.jpg" style="width:100%"/></a></div>
                </div>
              <div class="row">
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/kensington.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/lenovo.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/mcafee.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/ms.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/samsung.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/sony.jpg" style="width:100%"/></a></div>
              </div>
              <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/mecer.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"><a href="http://www.isasa.org/"><img src="../img/brands/SYMANTEC.jpg" style="width:100%"/></a></div>
                  <div class="col-lg-2"></div>
                  <div class="col-lg-2"></div>
              </div>
            </div>
           </div>
        </div>
      </div>
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->      
  
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->      
        <h3 style="text-align: center" id="G">Get Modern</h3>
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->      
  
  <!------------------------------------- SECTION ---------------------------------------------------------------------------->            
      <div style="background-color: whitesmoke; padding-bottom:100px; padding-top:100px" id="E">
          <div class="container">
            <div class="row">  
              <h3 style="text-align: center" id="H">Pamoja Cloud</h3>
              <center><img src="../img/Pamoja_logo-content.png"/></center>
              <span>
                Being a leading provider of IT services, Gentron brings you Pamoja Cloud services portfolio, built with the IT needs of small and medium businesses in mind. We are establishing a cloud marketplace which will grow with the needs of SMBs in Africa. The current portfolio caters for the basic needs of SMBs with more advanced services in the pipeline. That’s where we come in! Gentron is a proud reseller of Pamoja services, making the use of cloud-based operations more efficient for SMBs in Africa. Contact us to talk about how we can help you.
              </span>
              <br /><br />  
                  <strong>Existing Services</strong>
                    <ul>
                      <li>Hosted Microsoft Exchange</li>
                      <li>Hosted Microsoft Lync</li>
                      <li>Hosted Microsoft SharePoint</li>
                      <li>Online PC and Server Backup and Recovery</li>
                      <li>Symantec End-Point-Security</li>
                      <li>Symantec Email Security</li>
                      <li>Symantec Email Archiving</li>
                      <li>Cloud based Business Management Solution</li>
                      <li>Remote IT Management Services</li>
                      <li>Microsoft Dynamics Navision</li>
                    </ul>
                    <br />
                  <strong>Future Services</strong>
                    <ul>
                      <li>HR and Payroll</li>
                      <li>Accounting</li>
                      <li>Customer Contact Centre</li>
                      <li>Microsoft Dynamics CRM</li>
                      <li>SAP Business One On Demand</li>
                      <li>Virtual Online Events</li>
                      <li>Mobile Cloud Development</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>