<hr />
<center>
<p><strong>Phone: </strong>+27 (0)12 661 5519<br /><strong>Email: </strong><a href="mailto:info@gentron.co.za">info@gentron.co.za</a><br />8 Whitehall Street<br />
Centurion<br />
0157</p>
</center>
<center>
	<a href="https://www.facebook.com/GentronGroup" target="_blank"><%=image_tag("social/fb.png", size: "50x50")%></a>
	<a href="https://twitter.com/GentronGroup" target="_blank"><%=image_tag("social/twitter.png", size: "50x50")%></a>
	<a href="http://www.linkedin.com/company/gentron-outsourced-services" target="_blank"><%=image_tag("social/link.png", size: "50x50")%></a>
</center>
<br />
<center>
<p>Copyright © 2015 Gentron | Site designed by Cameron Norman, Chris Langsford, Divash Singh</p>
<p>
<%if current_user.present?%>
	Logged in as <b><%=current_user.email%></b><br>
	<%= link_to "Log out",destroy_user_session_path%>
<%else%>
	<%= link_to "Staff Login", new_user_session_path%>
<%end%>
</p>
</center>