<!--This is where the navigation starts-->
    <div class = "navbar navbar-default navbar-fixed-top" style="opacity:0.78">
      <div class = "container">
          <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
          </button>
        <div class = "collapse navbar-collapse navHeaderCollapse ">
            <ul class = "nav navbar-nav" style="width: 100%; margin-left:15%; margin-right:15%">
              <li><%= link_to root_url do%><%=image_tag("logo2.png", class: "nav-logo")%><%end%></li>
              <li class="nav-link"><%= link_to "Home", root_url, "data-no-turbolink" => true%></li>
              <li class="nav-link"><%=link_to "Newsroom", newsroom_path, "data-no-turbolink" => true%></li>
              <li class="nav-link"><%=link_to "Request a Quote/Consultation", new_correspondence_path,"data-no-turbolink" => true%></li>
              <li class="nav-link"><%=link_to "Provide us with feedback", new_feedback_path,"data-no-turbolink" => true %></li>
              
            </ul>
        </div>
      </div>
    </div>
        