<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "IT Outsourcing | ICT Solutions | Software | Cloud Computing" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Gentron</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Right Nav Section -->


    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Home</a></li>
    </ul>
  </section>
</nav>

<!-- Left Nav Section -->

<!--This just makes it easy to read: HEADER-->

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
      <%= content_tag :div, msg %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<% end %>

<div class="row" style="height: 800px">

<div class="row">

  <div class="large-1 columns"></div>
  <div class="large-10 columns"><%= yield %></div>
  <div class="large-1 columns"></div>
</div>


<!--This just makes it easy to read: FOOTER-->
<footer>
  <hr />
  <center><a href="#">Staff Login</a></center> 





<footer>
  <%= link_to new_user_session_path do%><span class="fa fa-sign-in"></span>Staff login<%end%>
  This is the footer
  <!--The links below are for developmental purposes and will be deleted before deploying to production-->
  <%= link_to "Sign up", new_user_registration_path%>
  <%if current_user.present?%>
  <p>Signed in as <b><%=current_user.email%> (<%=link_to "Change password",edit_user_registration_path%>)</b></p>
  <%= link_to "Log Out", destroy_user_session_path%>
  <%end%>

</footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>